<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">LaConcordia</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        @*Si agrega otra solo cambiar los numeros *@
        <div class="nav-item px-3 text-start position-relative">
            <div class="dropdown-toggle-blazor" @onclick="() => ToggleDropdown(1)">
                <i class="bi bi-list"></i> Mantenimiento
                <span class="dropdown-caret">@((IsDropdownOpen(1)) ? "▲" : "▼")</span>
            </div>
            @if (IsDropdownOpen(1))
            {
                <div class="dropdown-wrapper-blazor">
                    <ul class="dropdown-blazor">
                        <li><NavLink class="dropdown-item" href="empresa">Empresas</NavLink></li>
                        <li><NavLink class="dropdown-item" href="tipolicencium">Tipo de Licencia</NavLink></li>
                        <li><NavLink class="dropdown-item" href="nacionalidad">Nacionalidad</NavLink></li>
                        <li><NavLink class="dropdown-item" href="estadoCivil">Estado Civil</NavLink></li>
                        <li><NavLink class="dropdown-item" href="niveleducacion">Usuario/Nivel Educación</NavLink></li>
                        <li><NavLink class="dropdown-item" href="cargo">Cargo</NavLink></li>
                        <li><NavLink class="dropdown-item" href="parentesco">Parentesco</NavLink></li>
                        <li><NavLink class="dropdown-item" href="duenopuesto">Dueño de puesto</NavLink></li>
                        <li><NavLink class="dropdown-item" href="unidad">Unidad</NavLink></li>
                        @* <li><NavLink class="dropdown-item" href="cargo">Cargo</NavLink></li> *@
                    </ul>
                </div>
            }
        </div>
    </nav>
</div>

@code {
    
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private HashSet<int> openDropdowns = new();

    private void ToggleDropdown(int id)
    {
        if (openDropdowns.Contains(id))
            openDropdowns.Remove(id);
        else
            openDropdowns.Add(id);
    }

    private bool IsDropdownOpen(int id) => openDropdowns.Contains(id);
}
